.search {
    text-align: center;
}
.logo {
    margin: 5px 0;
    border-radius: 50px;
}
.search-text {
    padding-left: 10px;
    width: 400px;
    line-height: 25px;
    border: 1px solid #eee;
    font-size: 16px;
}
input[type="submit"],
button {
    margin: 20px;
    padding: 10px;
    width: 120px;
    background-color: #eee;
    color: #444;
    border: none;

}
input[type="submit"]:hover,
button:hover {
    background-color: #ddd;
}
.search-text:hover,
.search-text:active,
.search-text:focus {
    border: 1px solid #444;
}
.search-result {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 100px;
    height: 100px;
    color: #444;
}
.found-img {
    margin: 5px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}
